
config transmission
	option scrape_paused_torrents 'true'
	option download_dir '/mnt/sda1'
	option speed_limit_up_enabled 'false'
	option blocklist_enabled 'false'
	option incomplete_dir_enabled 'false'
	option script_torrent_done_enabled 'false'
	option scrape_paused_torrents_enabled 'false'
	option rpc_enabled 'true'
	option user 'root'
	option speed_limit_down_enabled 'false'
	option start_added_torrents 'true'
	option encryption '1'
	option rename_partial_files '1'
	option config_dir '/mnt/sda1/.transmission'
	option rpc_authentication_required 'false'
	option rpc_whitelist_enabled 'false'
	option peer_port_random_on_start 'false'
	option lpd_enabled 'false'
	option seed_queue_enabled 'true'
	option message_level '2'
	option preallocation '1'
	option watch_dir_enabled 'false'
	option umask '0'
	option peer_socket_tos 'lowcost'
	option dht_enabled 'false'
	option enabled '0'
	option alt_speed_enabled 'false'